@import url(font-awesome.min.css);@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
foot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{display:block;}
body{line-height:1;}
ol,
ul{list-style:none;}
blockquote,
q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{-webkit-text-size-adjust:none;}
*,
*:before,
*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
@-ms-viewport{width:device-width;}
body{-ms-overflow-style:scrollbar;}
@media screen and (max-width:480px){html,
body{min-width:320px;}
}
body{background:#ffffff;}
body.is-loading *,
body.is-loading *:before,
body.is-loading *:after{-moz-animation:none !important;-webkit-animation:none !important;-ms-animation:none !important;animation:none !important;-moz-transition:none !important;-webkit-transition:none !important;-ms-transition:none !important;transition:none !important;}
body,
input,
select,
textarea{color:#646464;font-family:Avenir, "Source Sans Pro", Helvetica, sans-serif;font-size:14pt;font-weight:200;line-height:1.75;}
@media screen and (max-width:1680px){body,
input,
select,
textarea{font-size:12pt;}
}
@media screen and (max-width:1280px){body,
input,
select,
textarea{font-size:12pt;}
}
@media screen and (max-width:980px){body,
input,
select,
textarea{font-size:12pt;}
}
@media screen and (max-width:736px){body,
input,
select,
textarea{font-size:12pt;}
}
@media screen and (max-width:480px){body,
input,
select,
textarea{font-size:12pt;}
}
a{-moz-transition:color 0.2s ease, border-bottom-color 0.2s ease;-webkit-transition:color 0.2s ease, border-bottom-color 0.2s ease;-ms-transition:color 0.2s ease, border-bottom-color 0.2s ease;transition:color 0.2s ease, border-bottom-color 0.2s ease;border-bottom:dotted 1px rgba(160, 160, 160, 0.65);color:inherit;text-decoration:none;}
a:before{-moz-transition:color 0.2s ease;-webkit-transition:color 0.2s ease;-ms-transition:color 0.2s ease;transition:color 0.2s ease;}
a:hover{border-bottom-color:transparent;color:#2ebaae !important;}
a:hover:before{color:#2ebaae !important;}
b{color:#3c3b3b;font-weight:500;}
strong{color:#31455B;font-weight:600;font-size:1.1em;}
em,
i{font-style:italic;}
p{margin:0 0 1.4em 0;color:#696969;}
h1,
h2,
h3,
h4,
h5{color:#31455B;font-family:"Raleway", Helvetica, sans-serif;font-weight:800;letter-spacing:0.25em;line-height:1.65;margin:0 0 1em 0;text-transform:uppercase;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{color:inherit;border-bottom:0;}
h2{font-size:1.1em;}
h3{font-size:0.9em;}
h4{font-size:0.7em;}
h5{font-size:0.7em;}
h6{color:#31455B;font-weight:600;font-size:1.1em;margin:0 0 1em 0;}
sub{font-size:0.8em;position:relative;top:0.5em;}
sup{font-size:0.8em;position:relative;top:-0.5em;}
p nar{font-size:0.8em;font-family:"Avenir";font-style:italic;}
blockquote{border-left:solid 4px rgba(160, 160, 160, 0.3);font-style:italic;margin:0 0 2em 0;padding:0.5em 0 0.5em 2em;}
code{background:rgba(160, 160, 160, 0.075);border:solid 1px rgba(160, 160, 160, 0.3);font-family:"Courier New", monospace;font-size:0.9em;margin:0 0.25em;padding:0.25em 0.65em;}
pre{-webkit-overflow-scrolling:touch;font-family:"Courier New", monospace;font-size:0.9em;margin:0 0 2em 0;}
pre code{display:block;line-height:1.75em;padding:1em 1.5em;overflow-x:auto;}
hr{border:0;border-bottom:solid 1px rgba(160, 160, 160, 0.3);margin:2em 0;}
hr.major{margin:3em 0;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none;-moz-transition:background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;-webkit-transition:background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;-ms-transition:background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;transition:background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;background-color:transparent;border:0;box-shadow:inset 0 0 0 1px rgba(160, 160, 160, 0.3);color:#3c3b3b !important;cursor:pointer;display:inline-block;font-family:"Raleway", Helvetica, sans-serif;font-size:0.6em;font-weight:600;height:4.8125em;letter-spacing:0.25em;line-height:4.8125em;padding:0 2.5em;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap;}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover{box-shadow:inset 0 0 0 1px #2ebaae;color:#2ebaae !important;}
input[type="submit"]:hover:active,
input[type="reset"]:hover:active,
input[type="button"]:hover:active,
button:hover:active,
.button:hover:active{background-color:rgba(46, 186, 174, 0.05);}
input[type="submit"]:before,
input[type="submit"]:after,
input[type="reset"]:before,
input[type="reset"]:after,
input[type="button"]:before,
input[type="button"]:after,
button:before,
button:after,
.button:before,
.button:after{color:#aaaaaa;position:relative;}
input[type="submit"]:before,
input[type="reset"]:before,
input[type="button"]:before,
button:before,
.button:before{left:-1em;padding:0 0 0 0.75em;}
input[type="submit"]:after,
input[type="reset"]:after,
input[type="button"]:after,
button:after,
.button:after{left:1em;padding:0 0.75em 0 0;}
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit{display:block;margin:0 0 1em 0;width:100%;}
input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big{font-size:0.7em;padding:0 3em;}
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small{font-size:0.5em;padding:0 3em;}
input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled{-moz-pointer-events:none;-webkit-pointer-events:none;-ms-pointer-events:none;pointer-events:none;color:rgba(160, 160, 160, 0.3) !important;}
input[type="submit"].disabled:before,
input[type="submit"]:disabled:before,
input[type="reset"].disabled:before,
input[type="reset"]:disabled:before,
input[type="button"].disabled:before,
input[type="button"]:disabled:before,
button.disabled:before,
button:disabled:before,
.button.disabled:before,
.button:disabled:before{color:rgba(160, 160, 160, 0.3) !important;}
.icon{text-decoration:none;border-bottom:none;position:relative;}
.icon:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
.icon > .label{display:none;}
.icon.suffix:before{float:right;}
.image{border:0;display:block;position:relative;}
.image img{display:block;}
.image.left,
.image.right{display:block;max-width:40%;}
.image.left{float:left;padding:0 1.5em 1em 0;top:0.25em;}
.image.right{float:right;padding:0 0 1em 1.5em;top:0.25em;}
.image.fit{display:block;margin:0 0 2em 0;width:100%;}
.image.fit img{width:100%;}
.image.featured{display:inline-block;margin:0 0 3em 0;width:100%;}
.image.featured img{width:100%;}
@media screen and (max-width:736px){.image.featured{margin:0 0 1.5em 0;}
}
.image.main{display:block;margin:0 0 3em 0;width:100%;}
.image.main img{width:100%;}
ol{list-style:decimal;margin:0 0 2em 0;padding-left:1.25em;}
ol li{padding-left:0.25em;}
ul{list-style:disc;margin:0 0 2em 0;padding-left:1em;}
ul li{padding-left:0.5em;}
ul.alt{list-style:none;padding-left:0;}
ul.alt li{border-top:solid 1px rgba(160, 160, 160, 0.3);padding:0.5em 0;}
ul.alt li:first-child{border-top:0;padding-top:0;}
ul.icons{cursor:default;list-style:none;padding-left:0;}
ul.icons li{display:inline-block;padding:0 1em 0 0;}
ul.icons li:last-child{padding-right:0;}
ul.icons li > *{text-decoration:none;border:0;}
ul.icons li > *:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
ul.icons li > * .label{display:none;}
ul.actions{cursor:default;list-style:none;padding-left:0;}
ul.actions li{display:inline-block;padding:0 1.5em 0 0;vertical-align:middle;}
ul.actions li:last-child{padding-right:0;}
ul.actions.pagination{text-align:center;margin:auto;}
ul.actions.pagination .next{text-decoration:none;}
ul.actions.pagination .next:after{content:"";-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
ul.actions.pagination .next:after{content:'\f054';}
ul.actions.pagination .previous{text-decoration:none;}
ul.actions.pagination .previous:before{content:"";-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
ul.actions.pagination .previous:before{content:'\f053';}
@media screen and (max-width:1280px){ul.actions.pagination{text-align:center;}
ul.actions.pagination .next,
ul.actions.pagination .previous{min-width:20em;}
}
@media screen and (max-width:736px){ul.actions.pagination .next,
ul.actions.pagination .previous{min-width:18em;}
}
ul.actions.small li{padding:0 1em 0 0;}
ul.actions.vertical li{display:block;padding:1.5em 0 0 0;}
ul.actions.vertical li:first-child{padding-top:0;}
ul.actions.vertical li > *{margin-bottom:0;}
ul.actions.vertical.small li{padding:1em 0 0 0;}
ul.actions.vertical.small li:first-child{padding-top:0;}
ul.actions.fit{display:table;margin-left:-1em;padding:0;table-layout:fixed;width:calc(100% + 1em);}
ul.actions.fit li{display:table-cell;padding:0 0 0 1em;}
ul.actions.fit li > *{margin-bottom:0;}
ul.actions.fit.small{margin-left:-0.5em;width:calc(100% + 0.5em);}
ul.actions.fit.small li{padding:0 0 0 0.5em;}
@media screen and (max-width:480px){ul.actions{margin:0 0 2em 0;}
ul.actions li{padding:1em 0 0 0;display:block;text-align:center;width:100%;}
ul.actions li:first-child{padding-top:0;}
ul.actions li > *{width:100%;margin:0 !important;}
ul.actions.small li{padding:0.5em 0 0 0;}
ul.actions.small li:first-child{padding-top:0;}
}
ul.posts{list-style:none;padding:0;}
ul.posts li{border-top:dotted 1px rgba(160, 160, 160, 0.3);margin:1.5em 0 0 0;padding:1.5em 0 0 0;}
ul.posts li:first-child{border-top:0;margin-top:0;padding-top:0;}
ul.posts article{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-align-items:-moz-flex-start;-webkit-align-items:-webkit-flex-start;-ms-align-items:-ms-flex-start;align-items:flex-start;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
ul.posts article .image{display:block;margin-right:1.5em;min-width:4em;width:4em;}
ul.posts article .image img{width:100%;}
ul.posts article header{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-ms-flex:1;}
ul.posts article header h3{font-size:0.65em;margin-top:0.125em;font-weight:100;}
ul.posts article header .published{display:block;font-family:"Raleway", Helvetica, sans-serif;font-size:0.5em;font-weight:400;letter-spacing:0.25em;margin:-0.625em 0 1.7em 0;text-transform:uppercase;}
ul.posts article header >:last-child{margin-bottom:0;}
dl{margin:0 0 2em 0;}
dl dt{display:block;font-weight:700;margin:0 0 1em 0;}
dl dd{margin-left:2em;}
.mini-post{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;background:#ffffff;border:solid 1px rgba(160, 160, 160, 0.3);margin:0 0 2em 0;}
.mini-post .image{overflow:hidden;width:100%;}
.mini-post .image img{-moz-transition:-moz-transform 0.2s ease-out;-webkit-transition:-webkit-transform 0.2s ease-out;-ms-transition:-ms-transform 0.2s ease-out;transition:transform 0.2s ease-out;width:100%;}
.mini-post .image:hover img{-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.mini-post header{padding:1.25em 4.25em 0.1em 1.25em;min-height:4em;position:relative;-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;}
.mini-post header h3{font-size:0.7em;}
.mini-post header .published{display:block;font-family:"Raleway", Helvetica, sans-serif;font-size:0.6em;font-weight:400;letter-spacing:0.25em;margin:-0.625em 0 1.7em 0;text-transform:uppercase;}
.mini-post header .author{position:absolute;right:2em;top:2em;}
.mini-posts{margin:0 0 2em 0;}
@media screen and (min-width:1280px){.mini-posts{display:block;display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:calc(100% + 2em);}
.mini-posts > *{margin:2em 2em 0 0;width:calc(50% - 2em);}
.mini-posts >:nth-child(-n + 2){margin-top:0;}
}
@media screen and (max-width:1280px){.mini-posts{display:block;display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:calc(100% + 2em);}
.mini-posts > *{margin:2em 2em 0 0;width:calc(50% - 2em);}
.mini-posts >:nth-child(-n + 2){margin-top:0;}
}
@media screen and (max-width:480px){.mini-posts{display:block;width:100%;}
.mini-posts > *{margin:0 0 2em 0;width:100%;}
}
.blog{padding:1.75em 3em 1em 3em;background:#ffffff;border-bottom:solid 1px rgba(160, 160, 160, 0.3);margin:0em 4em 3em 4em;position:relative;}
.blog > header{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;border-bottom:solid 1px rgba(160, 160, 160, 0.3);left:-3em;margin:-3em 0 1.75em 0;position:relative;width:calc(100% + 6em);}
.blog > header .title{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-ms-flex:1;padding:0em 3em 1.75em 3em;}
.blog > header .title h2{letter-spacing:0.2em;font-weight:300;font-size:1.3em;}
.blog > header .title >:last-child{margin-bottom:0;}
.blog > header .meta{padding:3.75em 3em 1.75em 3em;border-left:solid 1px rgba(160, 160, 160, 0.3);min-width:17em;text-align:right;width:17em;}
.blog > header .meta > *{margin:0 0 1em 0;}
.blog > header .meta >:last-child{margin-bottom:0;}
.blog > header .meta .published{color:#3c3b3b;display:block;font-family:"Raleway", Helvetica, sans-serif;font-size:0.7em;font-weight:800;letter-spacing:0.25em;margin-top:0.5em;text-transform:uppercase;white-space:nowrap;}
.blog > .image.featured{overflow:hidden;}
.blog > .image.featured img{-moz-transition:-moz-transform 0.2s ease-out;-webkit-transition:-webkit-transform 0.2s ease-out;-ms-transition:-ms-transform 0.2s ease-out;transition:transform 0.2s ease-out;}
.blog > .image.featured:hover img{-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.blog > footer{margin:25px;text-align:center;-moz-align-items:center;-webkit-align-items:center;-ms-align-items:center;align-items:center;}
.blog > footer .actions{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;}
.blog > footer a{-moz-transition:color 0.2s ease;-webkit-transition:color 0.2s ease;-ms-transition:color 0.2s ease;transition:color 0.2s ease;border-bottom:none;color:#3B516A;font-weight:400;font-size:11pt;}
@media screen and (max-width:1280px){.blog{margin:0em 10em 3em 10em;}
}
@media screen and (max-width:1080px){.blog{margin:0em 4em 3em 4em;}
}
@media screen and (max-width:980px){.blog{left:-4em;width:100%;margin:0em 4em 3em 4em;}
.blog > header{-moz-flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:3.75em 3em 1.25em 3em;border-left:0;}
.blog > header .title{-ms-flex:0 1 auto;margin:0 0 2em 0;padding:0;text-align:center;}
}
@media screen and (max-width:736px){.blog{padding:1.5em 1.5em 0.1em 1.5em;left:-1.5em;margin:0 0 2em 0;width:calc(100% + (1.5em * 2));}
.blog > header{padding:3em 1.5em 0.5em 1.5em;left:-1.5em;margin:-1.5em 0 1.5em 0;width:calc(100% + 3em);}
.blog > header .title h2{font-size:1.1em;}
}
@media screen and (max-width:480px){.blog > header .meta{-moz-align-items:center;-webkit-align-items:center;-ms-align-items:center;align-items:center;-moz-flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.blog > header .meta > *{border-left:0;margin:1em 0 0 0;padding-left:0;}
.blog > header .meta .author .name{display:none;}
.blog > .image.featured{margin-left:-1.5em;margin-top:calc(-1.5em - 1px);width:calc(100% + 3em);}
.blog > footer{-moz-align-items:stretch;-webkit-align-items:stretch;-ms-align-items:stretch;align-items:stretch;-moz-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
.blog > footer .stats{text-align:center;}
.blog > footer .stats li{margin:0 0 0 1.25em;padding:0 0 0 1.25em;}
}
#post-toc-wrapper{margin:0em 22em 0em 7em;}
@media screen and (max-width:1280px){#post-toc-wrapper{margin:0em 18em 0em 4em;}
}
@media screen and (max-width:1080px){#post-toc-wrapper{margin:0em 15em 0em 2em;}
}
#postwrapper{margin:0em 12em 0em 12em;}
.post{padding:0.75em 4em 2em 4em;background:#ffffff;position:relative;}
.post > header{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;border-bottom:solid 1px rgba(160, 160, 160, 0.3);left:-3em;margin:-3em 0 3em 0;position:relative;width:calc(100% + 6em);}
.post > header .title{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-ms-flex:1;padding:2.75em 3em 1.5em 3em;}
.post > header .title h1{font-weight:800;font-size:1.5em;}
.post > header .title h2{color:#3B516A;letter-spacing:0.2em;font-weight:300;font-size:1.3em;}
.post > header .title >:last-child{margin-bottom:0;}
.post > .image.featured{overflow:hidden;}
.post > .image.featured img{-moz-transition:-moz-transform 0.2s ease-out;-webkit-transition:-webkit-transform 0.2s ease-out;-ms-transition:-ms-transform 0.2s ease-out;transition:transform 0.2s ease-out;}
.post > .image.featured:hover img{-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.post > footer{margin:3em 0 0 0;text-align:center;-moz-align-items:center;-webkit-align-items:center;-ms-align-items:center;align-items:center;}
.post > footer .actions{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;}
.post > footer a{-moz-transition:color 0.2s ease;-webkit-transition:color 0.2s ease;-ms-transition:color 0.2s ease;transition:color 0.2s ease;border-bottom:none;color:#3B516A;font-weight:400;font-size:11pt;}
@media screen and (max-width:1180px){#postwrapper{margin:0em 12em 0 12em;}
.post{border-left:0;border-right:0;width:auto;padding:2em 0em 1em 0em;}
}
@media screen and (max-width:1080px){#postwrapper{margin:0em 9em 0 9em;}
.post{border-left:0;border-right:0;width:auto;padding:2em 0em 1em 0em;}
}
@media screen and (max-width:980px){#post-toc-wrapper{margin:0em 4em 0 4em;}
#postwrapper{margin:0em 4em 0 4em;}
.post{border-left:0;border-right:0;width:auto;padding:2em 0em 2.5em 0em;}
.post > header{-moz-flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:1.75em 3em 1.25em 3em;border-left:0;}
.post > header .title{-ms-flex:0 1 auto;margin:0 0 2em 0;padding:0;text-align:center;}
}
@media screen and (max-width:736px){#postwrapper{margin:0 0 2em 0;}
#post-toc-wrapper{margin:0 0 2em 0;}
.post{padding:1.5em 1.5em 0.5em 1.5em;left:-1.5em;width:calc(100% + (1.5em * 2));}
.post > header{padding:3em 1.5em 0.5em 1.5em;left:-1.5em;margin:-1.5em 0 1.5em 0;width:calc(100% + 3em);}
.post > header .title h2{font-size:1.1em;}
}
@media screen and (max-width:480px){.post > footer{-moz-align-items:stretch;-webkit-align-items:stretch;-ms-align-items:stretch;align-items:stretch;-moz-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
}
section.special,
article.special{text-align:center;}
header p{font-family:"Raleway", Helvetica, sans-serif;font-size:0.7em;font-weight:400;letter-spacing:0.25em;line-height:2.5;margin-top:-1em;text-transform:uppercase;}
body{padding-top:3.5em;}
#header{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-justify-content:space-between;-webkit-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;background-color:#ffffff;height:3.5em;left:0;line-height:3.5em;position:fixed;top:0;width:100%;z-index:10000;}
#header a{color:inherit;text-decoration:none;}
#header ul{list-style:none;margin:0;padding-left:0;}
#header ul li{display:inline-block;padding-left:0;}
#header h1{height:inherit;line-height:inherit;padding:0 0 0 1.5em;white-space:nowrap;}
#header h1 a{font-size:0.7em;}
#header .links{-moz-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;border-left:solid 1px rgba(160, 160, 160, 0.3);height:inherit;line-height:inherit;margin-left:1.5em;overflow:hidden;padding-left:1.5em;}
#header .links ul li{border-left:solid 1px rgba(160, 160, 160, 0.3);line-height:1;margin-left:1em;padding-left:1em;}
#header .links ul li:first-child{border-left:0;margin-left:0;padding-left:0;}
#header .links ul li a{border-bottom:0;font-family:"Raleway", Helvetica, sans-serif;font-size:0.7em;font-weight:400;letter-spacing:0.25em;text-transform:uppercase;}
#header .main{height:inherit;line-height:inherit;text-align:right;}
#header .main ul{height:inherit;line-height:inherit;}
#header .main ul li{height:inherit;line-height:inherit;white-space:nowrap;}
#header .main ul li > *{display:block;float:left;}
#header .main ul li > a{text-decoration:none;border-bottom:0;color:#aaaaaa;overflow:hidden;position:relative;text-indent:4em;width:4em;}
#header .main ul li > a:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
#header .main ul li > a:before{display:block;height:inherit;left:0;line-height:inherit;position:absolute;text-align:center;text-indent:0;top:0;width:inherit;}
@media screen and (max-width:980px){#header .links{display:none;}
}
@media screen and (max-width:736px){#header{height:2.75em;line-height:2.75em;}
#header h1{padding:0 0 0 1em;}
#header .main .search{display:none;}
}
#wrapper{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-moz-transition:opacity 0.5s ease;-webkit-transition:opacity 0.5s ease;-ms-transition:opacity 0.5s ease;transition:opacity 0.5s ease;margin:0 auto;max-width:100%;opacity:1;padding:4.5em;width:90em;}
body.is-menu-visible #wrapper{opacity:0.15;}
@media screen and (max-width:1680px){#wrapper{padding:3em;display:block;}
}
@media screen and (max-width:1280px){#wrapper{display:block;}
}
@media screen and (max-width:736px){#wrapper{padding:1.5em;}
}
#wrapperblog{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-moz-transition:opacity 0.5s ease;-webkit-transition:opacity 0.5s ease;-ms-transition:opacity 0.5s ease;transition:opacity 0.5s ease;margin:0 auto;max-width:100%;opacity:1;padding:4.5em;width:90em;}
body.is-menu-visible #wrapperblog{opacity:0.15;}
@media screen and (max-width:1680px){#wrapperblog{padding:3em;}
}
@media screen and (max-width:1280px){#wrapperblog{display:block;}
}
@media screen and (max-width:736px){#wrapperblog{padding:1.5em;}
}
#main{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-ms-flex:1;width:100%;}
#sidebar{margin-right:3em;min-width:22em;width:22em;}
#sidebar > *{border-top:solid 1px rgba(160, 160, 160, 0.3);margin:3em 0 0 0;padding:3em 0 0 0;}
#sidebar >:first-child{border-top:0;margin-top:0;padding-top:0;}
@media screen and (max-width:1280px){#sidebar{margin:3em 0 0 0;min-width:0;padding:3em 0 0 0;width:100%;}
}
#intro{text-align:center;width:auto;margin:0 0 3em 0;}
#intro .logo{border-bottom:0;display:inline-block;margin:0 0 1em 0;overflow:hidden;position:relative;width:4em;}
#intro header h2{font-size:1.7em;font-weight:600;}
#intro header p{font-size:0.8em;}
@media screen and (max-width:1280px){#intro{margin:0 0 3em 0;text-align:center;}
#intro header h2{font-size:1.7em;}
#intro header p{font-size:0.7em;}
}
@media screen and (max-width:736px){#intro{margin:0 0 1.5em 0;padding:1.25em 0;}
#intro >:last-child{margin-bottom:0;}
#intro .logo{margin:0 0 0.5em 0;}
#intro header h2{font-size:1.25em;}
#intro header >:last-child{margin-bottom:0;}
}
#footer{margin-left:auto;margin-right:auto;margin-bottom:50px;border-top:solid 1px rgba(160, 160, 160, 0.3);width:65%;}
#footer .icons{margin-top:50px;color:#aaaaaa;}
#footer .copyright{color:#aaaaaa;font-family:"Raleway", Helvetica, sans-serif;font-size:0.5em;font-weight:400;letter-spacing:0.25em;text-transform:uppercase;}
#menu{-moz-transform:translateX(25em);-webkit-transform:translateX(25em);-ms-transform:translateX(25em);transform:translateX(25em);-moz-transition:-moz-transform 0.5s ease, visibility 0.5s;-webkit-transition:-webkit-transform 0.5s ease, visibility 0.5s;-ms-transition:-ms-transform 0.5s ease, visibility 0.5s;transition:transform 0.5s ease, visibility 0.5s;-webkit-overflow-scrolling:touch;background:#ffffff;border-left:solid 1px rgba(160, 160, 160, 0.3);box-shadow:none;height:100%;max-width:80%;overflow-y:auto;position:fixed;right:0;top:0;visibility:hidden;width:25em;z-index:10002;}
#menu > *{border-top:solid 1px rgba(160, 160, 160, 0.3);padding:3em;}
#menu > * >:last-child{margin-bottom:0;}
#menu >:first-child{border-top:0;}
#menu .links{list-style:none;padding:0;}
#menu .links > li{border:0;border-top:dotted 1px rgba(160, 160, 160, 0.3);margin:1.5em 0 0 0;padding:1.5em 0 0 0;}
#menu .links > li a{display:block;border-bottom:0;}
#menu .links > li a h3{-moz-transition:color 0.2s ease;-webkit-transition:color 0.2s ease;-ms-transition:color 0.2s ease;transition:color 0.2s ease;font-size:0.7em;}
#menu .links > li a p{font-family:"Raleway", Helvetica, sans-serif;font-size:0.6em;font-weight:400;letter-spacing:0.25em;margin-bottom:0;text-decoration:none;text-transform:uppercase;}
#menu .links > li a:hover h3{color:#2ebaae;}
#menu .links > li:first-child{border-top:0;margin-top:0;padding-top:0;}
body.is-menu-visible #menu{-moz-transform:translateX(0);-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);visibility:visible;}
@media screen and (max-width:736px){#menu > *{padding:1.5em;}
}
#showcase{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-moz-transition:opacity 0.5s ease;-webkit-transition:opacity 0.5s ease;-ms-transition:opacity 0.5s ease;transition:opacity 0.5s ease;margin:0 auto;max-width:70%;opacity:1;padding:4.5em;margin-top:3em;width:90em;border-top:solid 1px rgba(160, 160, 160, 0.3);border-bottom:solid 1px rgba(160, 160, 160, 0.3);}
body.is-menu-visible #showcase{opacity:0.15;}
@media screen and (max-width:1680px){#showcase{padding:3em;}
}
@media screen and (max-width:1280px){#showcase{display:block;}
}
@media screen and (max-width:736px){#showcase{padding:1.5em;margin-top:1.5em;}
}
#showcase .next{margin-top:1.5em;}
#showcase .next > a{-moz-transition:color 0.2s ease;-webkit-transition:color 0.2s ease;-ms-transition:color 0.2s ease;transition:color 0.2s ease;border-bottom:none;color:#31455B;font-family:"Source Sans Pro", Helvetica, sans-serif;font-size:12pt;font-weight:400;}
.thumbnails{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:row;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;position:relative;}
.thumbnails img{-moz-transition:all 0.2s ease;-webkit-transition:all 0.2s ease;-ms-transition:all 0.2s ease;transition:all 0.2s ease;display:block;width:100%;margin:0 0 1.5em 0;border-radius:4px;box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.25);background-color:rgba(255, 255, 255, 0.075);cursor:pointer;outline:0;overflow:hidden;display:block;width:100%;border-top-left-radius:4px;border-top-right-radius:4px;}
.thumbnails img:hover{background-color:rgba(255, 255, 255, 0.25);box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #5DADE2;-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.thumbnails > div{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:calc(100%/3);padding-left:2em;}
.thumbnails > div >:last-child{margin-bottom:0;}
@media screen and (max-width:1280px){.thumbnails{margin:0 0 2em -1.5em;}
.thumbnails a{margin:0 0 0.5em 0;}
.thumbnails > div{margin:auto;padding-left:1.5em;}
}
@media screen and (max-width:980px){.thumbnails h3{font-size:0.8em;}
}
@media screen and (max-width:480px){.thumbnails{display:block;}
.thumbnails a{margin:0 0 2em 0 !important;}
.thumbnails > div{display:block;width:100%;}
.thumbnails > div:last-child >:last-child{margin-bottom:0 !important;}
.thumbnails h3{font-size:1em;}
}
.video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:visible;}
.video-container iframe,
.video-container object,
.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
img,object{max-width:100%;}
#toc_wrapper{right:0em;width:22em;position:fixed;border-left:solid 1px rgba(160, 160, 160, 0.3);}
@media screen and (max-width:1280px){#toc_wrapper{right:0em;width:18em;}
}
@media screen and (max-width:1080px){#toc_wrapper{right:0em;width:15em;}
}
@media screen and (max-width:980px){#toc_wrapper{display:none;}
}
#toc_container{display:inline-block;font-size:80%;width:auto;transition:0.5s;overflow-x:hidden;padding-left:2em;}
.toc_title{font-weight:700;text-align:center;padding:1em 0 1em 0;border-bottom:solid 1px rgba(160, 160, 160, 0.3);}
#toc_container a{border-bottom:none;}
#toc_container a:hover{color:#EDF2F4 !important;}
#toc_container li, #toc_container ul, #toc_container ul li{list-style:decimal;margin:0 0 0.5em 0em;}
@media screen and (max-width:980px){#toc_container{display:none;}
}
#toc_container_nav{background:#ffffff;position:fixed;z-index:10004;width:auto;left:calc(50% - 90px);top:0;}
.dropdown-button{width:180px;}
.dropdown-content{display:none;position:relative;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;}
.dropdown-content ul{list-style:decimal;font-size:12px;padding-left:1.5em;padding-right:0.5em;}
.dropdown-content a{display:block;border:none;padding-top:0.5em;}
.dropdown-content a:hover{color:#2ebaae;}
#toc_container_nav:hover .dropdown-content{display:block;}
@media screen and (min-width:980px){#toc_container_nav{display:none;}
}